body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #d3b714;
    width: 100vw; 
    padding: 10px;
}

ul li {
    list-style:none ;
}

.header-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding: 10px;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: space-between;
}

.centre-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.text-centre {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100px;
}

.left-block, .right-block {
    display: none;
}


.block-cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    gap: 40px;
}

.cart1, .cart2, .cart3, .cart4, .cart5, .cart6 {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    text-align: center;
    padding: 20px;
    width: 230px;
    height: 350px;
    border: 2px solid black;
    border-radius: 25px;
    transition: 0.5s;
}
.cart1:hover, .cart2:hover, .cart3:hover, .cart4:hover, .cart5:hover, .cart6:hover {
    transform: translate(-10px);
    background-color: rgba(246, 193, 215, 0.934);  
}
.card-text {
    display: flex;
    align-items: flex-start;
    height: 150px;
}
.go {
    color: white;
    background-color: brown;
    width: 40px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 240, 117);
    width: 100%;
}


@media (min-width: 768px) {
    header {
       display: flex; 
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       background-color: #d3b714;
       width: 100%; 
       padding: 10px;
    }

    .header-block {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }

    .left-block {
        display: flex;
        justify-content: center;
        width: 210px;
        padding: 10px;
        background-color: #c798b9;
    }

    main {
        display: flex;
        justify-content: space-between;
    }   
}


@media (min-width: 992px) {
    .right-block {
        display: flex;
        justify-content: center;
        width: 210px;
        padding: 10px;
        background-color: #9cb1c7;
    }
}