.first {
    width: 450px;
    float: left;
    margin: 0 35px 25px 0;
}

.sec {
    width: 380px;
    float: right;
    margin:  25px 0 25px 35px;
}

span {
    font-size: 35px;
}

div {
    text-align: justify;
}
