body {
  display: flex;
  flex-direction: column; 
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.spoiler {
  display: block;
  background-color: rgb(203, 242, 229);
  padding: 10px;
}